body {
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow: hidden;
    cursor: none;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

#bgCanvas {
    z-index: 1;
}

#fgCanvas {
    z-index: 2;
    background: transparent;
}

#imagenFinalContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;         
    justify-content: center;
    align-items: center;
    z-index: 3;           
    
    opacity: 0;            
    pointer-events: none;  
    transition: opacity 3s ease-in-out; 
}

#imagenFinalContainer.visible {
    opacity: 1;
}

#imagenFinalContainer img {
    max-width: 80%; 
    max-height: 80%;
    border-radius: 20px; 
    box-shadow: 0 0 30px #ff00ff; 
}